<a href="https://colab.research.google.com/github/GDReallyGoodMan/Credit-Scoring/blob/main/Model_for_credit_scoring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Загрузим данные

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("parisrohan/credit-score-classification")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'credit-score-classification' dataset.
Path to dataset files: /kaggle/input/credit-score-classification

Импортируем необходимые библиотеки

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Загрузим данные

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("parisrohan/credit-score-classification")

Using Colab cache for faster access to the 'credit-score-classification' dataset.

In [ ]:
data = pd.read_csv(f'{path}/train.csv')

/tmp/ipython-input-3683744655.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{path}/train.csv')

In [ ]:
data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

Вот она! Наша data!) Но теперь нужно обозначить фичи и почистить данные

In [ ]:
data.drop(columns=['ID', 'Customer_ID'], inplace=True)

In [ ]:
translate = ['Месяц','Имя','Возраст','Номер социального страхования (SSN)','Род занятий','Годовой доход','Ежемесячная зарплата на руках','Количество банковских счетов','Количество кредитных карт','Процентная ставка','Количество кредитов','Тип кредита','Просрочка с даты платежа','Количество просроченных платежей','Измененный кредитный лимит','Количество запросов на кредит','Состав кредитов','Непогашенная задолженность','Коэффициент использования кредита','Возраст кредитной истории','Минимальная сумма платежа','Общая сумма EMI в месяц','Сумма ежемесячного инвестирования','Поведение при оплате','Ежемесячный баланс','Кредитный рейтинг']
for i in range(len(data.columns)):
  cols = data.columns
  print('')
  print(cols[i], '|', translate[i], '|    for examle:', data.iloc[0].values[i])

Month | Месяц |    for examle: January

Name | Имя |    for examle: Aaron Maashoh

Age | Возраст |    for examle: 23

SSN | Номер социального страхования (SSN) |    for examle: 821-00-0265

Occupation | Род занятий |    for examle: Scientist

Annual_Income | Годовой доход |    for examle: 19114.12

Monthly_Inhand_Salary | Ежемесячная зарплата на руках |    for examle: 1824.8433333333328

Num_Bank_Accounts | Количество банковских счетов |    for examle: 3

Num_Credit_Card | Количество кредитных карт |    for examle: 4

Interest_Rate | Процентная ставка |    for examle: 3

Num_of_Loan | Количество кредитов |    for examle: 4

Type_of_Loan | Тип кредита |    for examle: Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan

Delay_from_due_date | Просрочка с даты платежа |    for examle: 3

Num_of_Delayed_Payment | Количество просроченных платежей |    for examle: 7

Changed_Credit_Limit | Измененный кредитный лимит |    for examle: 11.27

Num_Credit_Inquiries | Количество запросов на кредит |    for examle: 4.0

Credit_Mix | Состав кредитов |    for examle: _

Outstanding_Debt | Непогашенная задолженность |    for examle: 809.98

Credit_Utilization_Ratio | Коэффициент использования кредита |    for examle: 26.822619623699016

Credit_History_Age | Возраст кредитной истории |    for examle: 22 Years and 1 Months

Payment_of_Min_Amount | Минимальная сумма платежа |    for examle: No

Total_EMI_per_month | Общая сумма EMI в месяц |    for examle: 49.57494921489417

Amount_invested_monthly | Сумма ежемесячного инвестирования |    for examle: 80.41529543900253

Payment_Behaviour | Поведение при оплате |    for examle: High_spent_Small_value_payments

Monthly_Balance | Ежемесячный баланс |    for examle: 312.49408867943663

Credit_Score | Кредитный рейтинг |    for examle: Good

In [ ]:
# data['Age'] = pd.to_numeric(data['Age'], errors='coerce')
# data[data['Age'] <= 0] = np.nan

In [ ]:
data[data.describe(include='object').columns].head()

,Month,Name,Age,SSN,Occupation,Annual_Income,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Changed_Credit_Limit,Credit_Mix,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,11.27,_,809.98,22 Years and 1 Months,No,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",NaN,11.27,Good,809.98,NaN,No,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",7,_,Good,809.98,22 Years and 3 Months,No,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,6.27,Good,809.98,22 Years and 4 Months,No,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",NaN,11.27,Good,809.98,22 Years and 5 Months,No,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [ ]:
not_cat_features = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly','Monthly_Balance']
for cat in not_cat_features:
  data[cat] = pd.to_numeric(data[cat], errors='coerce')
  data[data[cat] <= 0] = np.nan

Уже знаем про годовую зарплату, зачем нам знать месячную?

In [ ]:
data.drop(columns=['Monthly_Inhand_Salary'], inplace=True)

In [ ]:
data[data.describe(include='object').columns].head()

,Month,Name,SSN,Occupation,Type_of_Loan,Credit_Mix,Credit_History_Age,Payment_of_Min_Amount,Payment_Behaviour,Credit_Score
0,January,Aaron Maashoh,821-00-0265,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",_,22 Years and 1 Months,No,High_spent_Small_value_payments,Good
1,February,Aaron Maashoh,821-00-0265,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",Good,NaN,No,Low_spent_Large_value_payments,Good
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,April,Aaron Maashoh,821-00-0265,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",Good,22 Years and 4 Months,No,Low_spent_Small_value_payments,Good
4,May,Aaron Maashoh,821-00-0265,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",Good,22 Years and 5 Months,No,High_spent_Medium_value_payments,Good

Чудесно, мы почти отделили категориальные признаки от числовых. Почему почти? У нас в Credit_History_Age хранятся числа, но нужно перевести их в Credit_History_Years и Credit_History_Months

Для людей у которых он не указан будем считать, что у них не было кредитной истории

In [ ]:
data['Credit_History_Age'] = data['Credit_History_Age'].fillna("0 years and 0 months")
data['Credit_History_Years'] = data['Credit_History_Age'].map(lambda row: float(row.split(' ')[0]))
data['Credit_History_Months'] = data['Credit_History_Age'].map(lambda row: float(row.split(' ')[3]))

In [ ]:
data

,Month,Name,Age,SSN,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Years,Credit_History_Months
0,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,3.0,4.0,3.0,4.0,...,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,22.0,1.0
1,February,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,3.0,4.0,3.0,4.0,...,31.944960,0 years and 0 months,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0 years and 0 months,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,April,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,3.0,4.0,3.0,4.0,...,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,22.0,4.0
4,May,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,3.0,4.0,3.0,4.0,...,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,22.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,April,Nicks,25.0,078-73-5990,Mechanic,39628.99,4.0,6.0,7.0,2.0,...,34.663572,31 Years and 6 Months,No,35.104023,60.971333,High_spent_Large_value_payments,479.866228,Poor,31.0,6.0
99996,May,Nicks,25.0,078-73-5990,Mechanic,39628.99,4.0,6.0,7.0,2.0,...,40.565631,31 Years and 7 Months,No,35.104023,54.185950,High_spent_Medium_value_payments,496.651610,Poor,31.0,7.0
99997,June,Nicks,25.0,078-73-5990,Mechanic,39628.99,4.0,6.0,5729.0,2.0,...,41.255522,31 Years and 8 Months,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor,31.0,8.0
99998,July,Nicks,25.0,078-73-5990,Mechanic,39628.99,4.0,6.0,7.0,2.0,...,33.638208,31 Years and 9 Months,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard,31.0,9.0
99999,August,Nicks,25.0,078-73-5990,Mechanic,NaN,4.0,6.0,7.0,2.0,...,34.192463,31 Years and 10 Months,No,35.104023,167.163865,!@9#%8,393.673696,Poor,31.0,10.0

In [ ]:
data = data.drop(columns=['Credit_History_Age'])

Как бы нам этого не хотелось, но мы вынуждены удалить объекты с target = Nan, поскольку это может плохо сказаться на предсказании модели

In [ ]:
data = data.dropna(subset=['Credit_Score'])

In [ ]:
not_cat_features += ['Credit_History_Years', 'Credit_History_Months']

In [ ]:
cat_features = data.select_dtypes('object').drop(columns=['Credit_Score']).columns.tolist()
number_features = data.select_dtypes('float').columns.tolist()

target_feature = 'Credit_Score'

In [ ]:
target_feature

'Credit_Score'

In [ ]:
for col in cat_features:
    data[col] = data[col].fillna('missing')
for col in number_features:
    data[col] = data[col].fillna(data[col].median())

Т.к. мы будем давать скор людям из России, то нужно перевести финансовые данные в датасете из долларов в рубли и поделить на 7 (т.к. в среднем, россиянин получает в 7 раз меньше жителя США). Будем считать, что нынче курс равен 80 рублей за 1$

In [ ]:
Finances = ["Annual_Income" ,"Outstanding_Debt" ,"Total_EMI_per_month" ,"Amount_invested_monthly" ,"Monthly_Balance"]
data[Finances] = (data[Finances] * 80) / 7

Посмотрим на баланс классов:

In [ ]:
data['Credit_Score'].value_counts()

Credit_Score
Standard    43504
Poor        25800
Good        12622
Name: count, dtype: int64

Видим небольшой дисбаланс, но это скорее похоже на нормальное распределение, так что все в порядке.

Будем использовать CatBoost (собственно поэтому я не особо сильно занимался features engineering и не делал глубокого анализа всех корреляций)

In [ ]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.12/dist-packages (1.2.8)
Requirement already satisfied: graphviz in /usr/local/lib/python3.12/dist-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.0.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.12/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from catboost) (1.16.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->catboost) (3.2.5)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->catboost) (8.5.0)

In [ ]:
X = data[cat_features + number_features]
y = data[target_feature]

In [ ]:
from catboost import CatBoostClassifier
from sklearn.model_selection import cross_val_score, StratifiedKFold

In [ ]:
model = CatBoostClassifier(
    iterations = 500,
    learning_rate = 0.1,
    depth = 6,
    cat_features = cat_features,
    loss_function = "MultiClass",
    verbose = 10
)

cv = StratifiedKFold(n_splits=3, shuffle=True)

scores = cross_val_score(model, X, y, cv=cv, scoring='neg_log_loss')
print("Средний многоклассовый logloss:", -scores.mean())

0:	learn: 1.0338564	total: 425ms	remaining: 3m 32s
10:	learn: 0.6918692	total: 6s	remaining: 4m 26s
20:	learn: 0.5832673	total: 8.78s	remaining: 3m 20s
30:	learn: 0.5474722	total: 12s	remaining: 3m 1s
40:	learn: 0.5304621	total: 15.2s	remaining: 2m 50s
50:	learn: 0.5194734	total: 20.3s	remaining: 2m 58s
60:	learn: 0.5120913	total: 24s	remaining: 2m 53s
70:	learn: 0.5076833	total: 27.4s	remaining: 2m 45s
80:	learn: 0.5043324	total: 32.6s	remaining: 2m 48s
90:	learn: 0.5000251	total: 36.3s	remaining: 2m 43s
100:	learn: 0.4975649	total: 39.8s	remaining: 2m 37s
110:	learn: 0.4943715	total: 44.4s	remaining: 2m 35s
120:	learn: 0.4918957	total: 48.3s	remaining: 2m 31s
130:	learn: 0.4893305	total: 52s	remaining: 2m 26s
140:	learn: 0.4872666	total: 56s	remaining: 2m 22s
150:	learn: 0.4851365	total: 1m 1s	remaining: 2m 21s
160:	learn: 0.4835550	total: 1m 4s	remaining: 2m 16s
170:	learn: 0.4816540	total: 1m 8s	remaining: 2m 11s
180:	learn: 0.4797886	total: 1m 13s	remaining: 2m 8s
190:	learn: 0.4786423	total: 1m 16s	remaining: 2m 4s
200:	learn: 0.4770363	total: 1m 20s	remaining: 1m 59s
210:	learn: 0.4758059	total: 1m 25s	remaining: 1m 56s
220:	learn: 0.4746445	total: 1m 28s	remaining: 1m 51s
230:	learn: 0.4737634	total: 1m 32s	remaining: 1m 47s
240:	learn: 0.4724681	total: 1m 36s	remaining: 1m 44s
250:	learn: 0.4714837	total: 1m 40s	remaining: 1m 39s
260:	learn: 0.4702125	total: 1m 44s	remaining: 1m 35s
270:	learn: 0.4687975	total: 1m 48s	remaining: 1m 31s
280:	learn: 0.4678347	total: 1m 52s	remaining: 1m 27s
290:	learn: 0.4670513	total: 1m 55s	remaining: 1m 23s
300:	learn: 0.4660081	total: 1m 59s	remaining: 1m 19s
310:	learn: 0.4650434	total: 2m 4s	remaining: 1m 15s
320:	learn: 0.4641838	total: 2m 8s	remaining: 1m 11s
330:	learn: 0.4630506	total: 2m 11s	remaining: 1m 7s
340:	learn: 0.4620306	total: 2m 16s	remaining: 1m 3s
350:	learn: 0.4609781	total: 2m 20s	remaining: 59.4s
360:	learn: 0.4597090	total: 2m 23s	remaining: 55.3s
370:	learn: 0.4585979	total: 2m 28s	remaining: 51.6s
380:	learn: 0.4578205	total: 2m 31s	remaining: 47.5s
390:	learn: 0.4568294	total: 2m 35s	remaining: 43.4s
400:	learn: 0.4556924	total: 2m 39s	remaining: 39.4s
410:	learn: 0.4548881	total: 2m 43s	remaining: 35.5s
420:	learn: 0.4540491	total: 2m 47s	remaining: 31.4s
430:	learn: 0.4533303	total: 2m 51s	remaining: 27.4s
440:	learn: 0.4522038	total: 2m 55s	remaining: 23.5s
450:	learn: 0.4513670	total: 2m 59s	remaining: 19.5s
460:	learn: 0.4505727	total: 3m 3s	remaining: 15.5s
470:	learn: 0.4496537	total: 3m 8s	remaining: 11.6s
480:	learn: 0.4485678	total: 3m 11s	remaining: 7.57s
490:	learn: 0.4476985	total: 3m 15s	remaining: 3.58s
499:	learn: 0.4470154	total: 3m 19s	remaining: 0us
0:	learn: 1.0339771	total: 362ms	remaining: 3m
10:	learn: 0.6987470	total: 3.82s	remaining: 2m 49s
20:	learn: 0.5826308	total: 6.35s	remaining: 2m 24s
30:	learn: 0.5434488	total: 9.95s	remaining: 2m 30s
40:	learn: 0.5261193	total: 13.8s	remaining: 2m 34s
50:	learn: 0.5170537	total: 17.2s	remaining: 2m 31s
60:	learn: 0.5102974	total: 20.9s	remaining: 2m 30s
70:	learn: 0.5051698	total: 25.8s	remaining: 2m 35s
80:	learn: 0.5006482	total: 29.5s	remaining: 2m 32s
90:	learn: 0.4982372	total: 32.7s	remaining: 2m 26s
100:	learn: 0.4963018	total: 37.4s	remaining: 2m 27s
110:	learn: 0.4936546	total: 40.9s	remaining: 2m 23s
120:	learn: 0.4908025	total: 44.5s	remaining: 2m 19s
130:	learn: 0.4882764	total: 48.9s	remaining: 2m 17s
140:	learn: 0.4856986	total: 52.7s	remaining: 2m 14s
150:	learn: 0.4836539	total: 56.3s	remaining: 2m 10s
160:	learn: 0.4818421	total: 59.9s	remaining: 2m 6s
170:	learn: 0.4805409	total: 1m 4s	remaining: 2m 4s
180:	learn: 0.4785936	total: 1m 8s	remaining: 2m
190:	learn: 0.4773029	total: 1m 11s	remaining: 1m 56s
200:	learn: 0.4760201	total: 1m 16s	remaining: 1m 54s
210:	learn: 0.4745210	total: 1m 20s	remaining: 1m 49s
220:	learn: 0.4730740	total: 1m 23s	remaining: 1m 45s
230:	learn: 0.4719342	total: 1m 28s	remaining: 1m 43s
240:	learn: 0.4707782	total: 1m 32s	remaining: 1m 38s
250:	learn: 0.4695077	total: 1m 35s	remaining: 1m 34s
260:	learn: 0.4683176	total: 1m 39s	remaining: 1m 31s
270:	learn: 0.4671876	total: 1m 43s	remaining: 1m 27s
280:	learn: 0.4662291	total: 1m 47s	remaining: 1m 23s
290:	learn: 0.4653262	total: 1m 50s	remaining: 1m 19s
300:	learn: 0.4642256	total: 1m 55s	remaining: 1m 16s
310:	learn: 0.4633832	total: 1m 59s	remaining: 1m 12s
320:	learn: 0.4625640	total: 2m 2s	remaining: 1m 8s
330:	learn: 0.4616963	total: 2m 7s	remaining: 1m 5s
340:	learn: 0.4609720	total: 2m 11s	remaining: 1m 1s
350:	learn: 0.4602034	total: 2m 14s	remaining: 57.2s
360:	learn: 0.4591653	total: 2m 19s	remaining: 53.7s
370:	learn: 0.4581882	total: 2m 23s	remaining: 49.7s
380:	learn: 0.4574648	total: 2m 26s	remaining: 45.8s
390:	learn: 0.4565002	total: 2m 31s	remaining: 42.1s
400:	learn: 0.4556827	total: 2m 34s	remaining: 38.2s
410:	learn: 0.4544988	total: 2m 38s	remaining: 34.3s
420:	learn: 0.4534027	total: 2m 42s	remaining: 30.5s
430:	learn: 0.4523547	total: 2m 47s	remaining: 26.8s
440:	learn: 0.4512833	total: 2m 50s	remaining: 22.8s
450:	learn: 0.4504896	total: 2m 54s	remaining: 18.9s
460:	learn: 0.4496722	total: 2m 59s	remaining: 15.1s
470:	learn: 0.4488259	total: 3m 2s	remaining: 11.2s
480:	learn: 0.4480094	total: 3m 6s	remaining: 7.36s
490:	learn: 0.4471094	total: 3m 11s	remaining: 3.5s
499:	learn: 0.4464675	total: 3m 14s	remaining: 0us
0:	learn: 1.0327901	total: 364ms	remaining: 3m 1s
10:	learn: 0.7037291	total: 4.07s	remaining: 3m
20:	learn: 0.5862763	total: 8.1s	remaining: 3m 4s
30:	learn: 0.5479087	total: 11s	remaining: 2m 46s
40:	learn: 0.5303720	total: 14.5s	remaining: 2m 42s
50:	learn: 0.5210050	total: 18.7s	remaining: 2m 44s
60:	learn: 0.5140653	total: 22.8s	remaining: 2m 44s
70:	learn: 0.5093274	total: 26.5s	remaining: 2m 39s
80:	learn: 0.5050592	total: 29.8s	remaining: 2m 34s
90:	learn: 0.5023685	total: 34.3s	remaining: 2m 34s
100:	learn: 0.5001915	total: 37.8s	remaining: 2m 29s
110:	learn: 0.4967505	total: 41.4s	remaining: 2m 25s
120:	learn: 0.4946271	total: 46.1s	remaining: 2m 24s
130:	learn: 0.4918249	total: 49.6s	remaining: 2m 19s
140:	learn: 0.4896142	total: 53.2s	remaining: 2m 15s
150:	learn: 0.4880822	total: 57.8s	remaining: 2m 13s
160:	learn: 0.4862531	total: 1m 1s	remaining: 2m 9s
170:	learn: 0.4846824	total: 1m 5s	remaining: 2m 5s
180:	learn: 0.4831324	total: 1m 9s	remaining: 2m 2s
190:	learn: 0.4819144	total: 1m 13s	remaining: 1m 58s
200:	learn: 0.4808777	total: 1m 16s	remaining: 1m 54s
210:	learn: 0.4794374	total: 1m 20s	remaining: 1m 50s
220:	learn: 0.4784473	total: 1m 25s	remaining: 1m 47s
230:	learn: 0.4768106	total: 1m 28s	remaining: 1m 43s
240:	learn: 0.4759649	total: 1m 32s	remaining: 1m 39s
250:	learn: 0.4747697	total: 1m 37s	remaining: 1m 36s
260:	learn: 0.4737667	total: 1m 40s	remaining: 1m 32s
270:	learn: 0.4725033	total: 1m 44s	remaining: 1m 28s
280:	learn: 0.4713952	total: 1m 49s	remaining: 1m 25s
290:	learn: 0.4706018	total: 1m 52s	remaining: 1m 20s
300:	learn: 0.4697346	total: 1m 56s	remaining: 1m 16s
310:	learn: 0.4688444	total: 2m	remaining: 1m 13s
320:	learn: 0.4679934	total: 2m 4s	remaining: 1m 9s
330:	learn: 0.4671246	total: 2m 8s	remaining: 1m 5s
340:	learn: 0.4659333	total: 2m 12s	remaining: 1m 1s
350:	learn: 0.4648877	total: 2m 16s	remaining: 58.1s
360:	learn: 0.4639516	total: 2m 20s	remaining: 54s
370:	learn: 0.4629694	total: 2m 24s	remaining: 50.1s
380:	learn: 0.4620400	total: 2m 28s	remaining: 46.5s
390:	learn: 0.4612156	total: 2m 32s	remaining: 42.5s
400:	learn: 0.4602257	total: 2m 36s	remaining: 38.6s
410:	learn: 0.4595361	total: 2m 40s	remaining: 34.8s
420:	learn: 0.4582854	total: 2m 44s	remaining: 30.9s
430:	learn: 0.4576426	total: 2m 47s	remaining: 26.9s
440:	learn: 0.4568980	total: 2m 52s	remaining: 23.1s
450:	learn: 0.4559431	total: 2m 56s	remaining: 19.1s
460:	learn: 0.4551628	total: 2m 59s	remaining: 15.2s
470:	learn: 0.4541972	total: 3m 3s	remaining: 11.3s
480:	learn: 0.4533380	total: 3m 8s	remaining: 7.43s
490:	learn: 0.4522729	total: 3m 11s	remaining: 3.52s
499:	learn: 0.4515766	total: 3m 14s	remaining: 0us
Средний многоклассовый logloss: 0.40571737621578396

In [ ]:
model.fit(X,y)

0:	learn: 1.0331352	total: 633ms	remaining: 5m 16s
10:	learn: 0.6445441	total: 5.57s	remaining: 4m 7s
20:	learn: 0.5458865	total: 10.5s	remaining: 3m 59s
30:	learn: 0.5120480	total: 15.3s	remaining: 3m 51s
40:	learn: 0.4960338	total: 21.3s	remaining: 3m 58s
50:	learn: 0.4843245	total: 26.5s	remaining: 3m 53s
60:	learn: 0.4772921	total: 33.1s	remaining: 3m 58s
70:	learn: 0.4721326	total: 38.5s	remaining: 3m 52s
80:	learn: 0.4674382	total: 44.6s	remaining: 3m 50s
90:	learn: 0.4648822	total: 50.3s	remaining: 3m 46s
100:	learn: 0.4615282	total: 55.6s	remaining: 3m 39s
110:	learn: 0.4595548	total: 1m 1s	remaining: 3m 37s
120:	learn: 0.4574083	total: 1m 7s	remaining: 3m 30s
130:	learn: 0.4554151	total: 1m 13s	remaining: 3m 27s
140:	learn: 0.4533322	total: 1m 19s	remaining: 3m 21s
150:	learn: 0.4517501	total: 1m 25s	remaining: 3m 17s
160:	learn: 0.4502679	total: 1m 30s	remaining: 3m 10s
170:	learn: 0.4490074	total: 1m 37s	remaining: 3m 6s
180:	learn: 0.4475853	total: 1m 42s	remaining: 3m
190:	learn: 0.4460915	total: 1m 47s	remaining: 2m 54s
200:	learn: 0.4453990	total: 1m 54s	remaining: 2m 49s
210:	learn: 0.4440668	total: 1m 59s	remaining: 2m 43s
220:	learn: 0.4430882	total: 2m 5s	remaining: 2m 38s
230:	learn: 0.4417746	total: 2m 11s	remaining: 2m 32s
240:	learn: 0.4407104	total: 2m 17s	remaining: 2m 28s
250:	learn: 0.4397725	total: 2m 23s	remaining: 2m 22s
260:	learn: 0.4388199	total: 2m 29s	remaining: 2m 16s
270:	learn: 0.4382036	total: 2m 34s	remaining: 2m 10s
280:	learn: 0.4373118	total: 2m 41s	remaining: 2m 5s
290:	learn: 0.4366355	total: 2m 46s	remaining: 1m 59s
300:	learn: 0.4359339	total: 2m 52s	remaining: 1m 54s
310:	learn: 0.4351284	total: 2m 58s	remaining: 1m 48s
320:	learn: 0.4344170	total: 3m 3s	remaining: 1m 42s
330:	learn: 0.4338895	total: 3m 10s	remaining: 1m 37s
340:	learn: 0.4332527	total: 3m 15s	remaining: 1m 31s
350:	learn: 0.4324533	total: 3m 21s	remaining: 1m 25s
360:	learn: 0.4317597	total: 3m 27s	remaining: 1m 19s
370:	learn: 0.4310117	total: 3m 33s	remaining: 1m 14s
380:	learn: 0.4300773	total: 3m 39s	remaining: 1m 8s
390:	learn: 0.4293428	total: 3m 45s	remaining: 1m 2s
400:	learn: 0.4288948	total: 3m 50s	remaining: 57s
410:	learn: 0.4283495	total: 3m 56s	remaining: 51.2s
420:	learn: 0.4277723	total: 4m 2s	remaining: 45.5s
430:	learn: 0.4269828	total: 4m 7s	remaining: 39.7s
440:	learn: 0.4264754	total: 4m 14s	remaining: 34s
450:	learn: 0.4257500	total: 4m 19s	remaining: 28.2s
460:	learn: 0.4251192	total: 4m 25s	remaining: 22.5s
470:	learn: 0.4246415	total: 4m 31s	remaining: 16.7s
480:	learn: 0.4240088	total: 4m 37s	remaining: 11s
490:	learn: 0.4234454	total: 4m 43s	remaining: 5.19s
499:	learn: 0.4228148	total: 4m 48s	remaining: 0us

Проверим всё на тесте

In [440]:
data = pd.read_csv(f'{path}/test.csv')

In [441]:
data.drop(columns=['ID', 'Customer_ID'], inplace=True)

not_cat_features = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly','Monthly_Balance']
for cat in not_cat_features:
  data[cat] = pd.to_numeric(data[cat], errors='coerce')
  data[data[cat] <= 0] = np.nan

data.drop(columns=['Monthly_Inhand_Salary'], inplace=True)

data['Credit_History_Age'] = data['Credit_History_Age'].fillna("0 years and 0 months")
data['Credit_History_Years'] = data['Credit_History_Age'].map(lambda row: float(row.split(' ')[0]))
data['Credit_History_Months'] = data['Credit_History_Age'].map(lambda row: float(row.split(' ')[3]))

data = data.drop(columns=['Credit_History_Age'])

not_cat_features += ['Credit_History_Years', 'Credit_History_Months']

cat_features = data.select_dtypes('object').columns.tolist()
number_features = data.select_dtypes('float').columns.tolist()

for col in cat_features:
    data[col] = data[col].fillna('missing')
for col in number_features:
    data[col] = data[col].fillna(data[col].median())

Finances = ["Annual_Income" ,"Outstanding_Debt" ,"Total_EMI_per_month" ,"Amount_invested_monthly" ,"Monthly_Balance"]
data[Finances] = (data[Finances] * 80) / 7

In [442]:
X_test = data[cat_features + number_features]

In [444]:
pred = model.predict(X_test)

In [454]:
pd.DataFrame(pred,columns=['Credit_Score_Pred']).value_counts()

Credit_Score_Pred
Standard             29403
Poor                 14818
Good                  5779
Name: count, dtype: int64

![images-3.jpeg]()

In [455]:
model.save_model("credit_model.cbm")